# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/

# Docker
*.log
*.pid
*.pid.lock
.env
docker-compose.override.yml

# Ignore files in these directories but keep .gitkeep files

# For deemix/config
deemix/config/*
!deemix/config/.gitkeep

# For navidrome/data
navidrome/data/*
!navidrome/data/.gitkeep

# For shared/spleeter_models
shared/spleeter_models/*
!shared/spleeter_models/.gitkeep

# For shared/music
shared/music/*
!shared/music/.gitkeep

# For shared/downloads
shared/downloads/*
!shared/downloads/.gitkeep

# For shared/converted_output
shared/converted_output/*
!shared/converted_output/.gitkeep

# For shared/originals
shared/originals/*
!shared/originals/.gitkeep

# For shared/pipeline
shared/pipeline/*
!shared/pipeline/.gitkeep

# For shared/splitter_output
shared/splitter_output/*
!shared/splitter_output/.gitkeep
